
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
}

.bg-grad{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-black{
  background-color: rgb(0, 0, 0);
}

.bg-trans{
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.hr-bar{
  width: 5%;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.bg-trans:hover .hr-bar{
  width: 100%;
}

.custom-p{
  padding: 20px;
}

.d-tb{
  display:table;
}

.d-tc{
  display: table-cell;
  vertical-align: middle;
}

.loading{
  font-size: 28px;
  font-weight: lighter;
}

.loading-w{
  width: 10%;
}

.f-top{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 1;
}

.player{
  position: sticky;
  top: 0px;
  height: 100vh;
}

.vidCard{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width:600px){
  .custom-p{
    padding: 5px;
  } 

  .loading{
    font-size: 20px;
  }

  .loading-w{
    width: 20%;
  }

  .player{
    position: static;
    height: auto;
  }
}